{% extends 'base.html' %}

{% block title %}Mapp App Home{% endblock %}

{% block body %}

<h1>Mapp App Home</h1>

<div id="main_panel">
    
    <div id="nav_panel">        
    <ul id="reports">        
        <li><a href="{% url excel_report %}">Excel Report</a></li>
    </ul>
    <ul id="applications">
    {% for application in applications %}
        <li>{{ application }}</li>
    {% endfor %}
    </ul>
    </div>

    <div id="large_panel">
        <img src="{% url graphviz_index %}" />
    </div>
</div>

{% endblock %}